

<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>OMDB Movie Search</title>
  <link rel="stylesheet" href="/css/style.css">
</head>
<body>
  <a href="/">Back to Search</a>
  <h2><%= movie.Title %></h2>
  <img src=<%= movie.Poster %>>
  <p><span>Year: </span><%= movie.Year %></p>
  <p><span>Rated: </span><%= movie.Rated %></p>
  <p><span>Runtime: </span><%= movie.Runtime %></p>
  <p><span><%= movie.Ratings[1].Source %>: </span><%= movie.Ratings[1].Value %></p>
  <p><span>Genre: </span><%= movie.Genre %></p>
  <p><span>Actors: </span><%= movie.Actors %></p>

</body>
</html>